@media screen and (max-width: 1108px) {
  .wrapper {
    width: 90%;
  }
  
  #social {
  position: absolute;
  width: auto;
  top: 82px;
  right: 4px;
  }
}

@media screen and (max-width: 900px) {
  body {
    font-size: 85%;
  } 
  #logo h1 {
    height: 35px;
    width: 35px;
  }
  
  #logo h2 {
    font-size: 2.2em;
  }
  #social {
    position: absolute;
    top: 72px;
  }
  
}

@media screen and (max-width: 750px) {
  #navbar nav a {
    font-size: 0.9em;
  }
  
  .col-3 p {
    column: 1;
  }
  
  .col-1, .col-2, 
}
